.banner{

    background-image: url("../img/fondo.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1,0.5);
}
.btn-warning{
    background-color: rgb(252, 165, 36);
    border-color: black;
}
.logo{
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
}
.container-fluid{
    border-radius: 20px;
    background-color: rgb(9, 105, 89);
    height: 50px;

}
.navbar-expand-lg{
    background-color: rgb(9, 105, 89);
    border-radius: 20px;
    height: 50px;
}
.galeria{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1000px;
    height: 230px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

footer {
    background-color: rgb(9, 105, 89);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 45%;
}

.footer-column h3 {
    color: #85ecdf;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffffff;
}
.page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }
